* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 20rem;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffc0cb, #8e24aa);

  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
